[Desktop Entry]
Name=Kite
GenericName=Matrix Client
Comment=Chat with your friends
Exec=kite
Icon=${SNAP}/meta/gui/kite.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
